using System;
using System.Linq;
using System.Threading.Tasks;
using Infrastructure;
using Microsoft.EntityFrameworkCore;
using donkeymove.App.Interface;
using donkeymove.App.Request;
using donkeymove.App.Response;
using donkeymove.Repository;
using donkeymove.Repository.Domain;
using donkeymove.Repository.Interface;

namespace donkeymove.App
{
    public class {ModuleCode} : {BaseAppName}<{ClassName},donkeymoveDBContext>
    {
            /// <summary>
            /// 公開列表
            ///</summary>
             public async Task<TableData<{ClassName}Resp>>PublicLoad(Query{ClassName}ListReq request)
            {
           
            var result = new TableData<{ClassName}Resp>();
            var objs =  UnitWork.Find<{ClassName}>(null).Select(x=>new {ClassName}Resp {
               {Selects}
            });
            if (!string.IsNullOrEmpty(request.key))
            {
            //增加篩選條件,如：
            //objs = objs.Where(u => u.Name.Contains(request.key));
            }
    
            {ForeignKeyTemplate}
    
            result.data = objs.OrderBy(request.orderby)
            .Skip((request.page - 1) * request.limit)
            .Take(request.limit);
            result.count =await objs.CountAsync();
            return result;
            }
        /// <summary>
        /// 載入列表
        ///</summary>
         public async Task<TableData<{ClassName}>>Load(Query{ClassName}ListReq request)
        {
        var loginContext = _auth.GetCurrentUser();
        if (loginContext == null)
        {
        throw new CommonException("登錄已過期", Define.INVALID_TOKEN);
        }
        var result = new TableData<{ClassName}>();
        var objs =  GetDataPrivilege("u").Select(x=>new {ClassName} {
        {Selects}
        });
        if (!string.IsNullOrEmpty(request.key))
        {
        //增加篩選條件,如：
        //objs = objs.Where(u => u.Name.Contains(request.key));
        }

        {ForeignKeyTemplate}

        result.data = objs.OrderBy(request.orderby)
        .Skip((request.page - 1) * request.limit)
        .Take(request.limit);
        result.count =await objs.CountAsync();
        return result;
        }
        /// <summary>
        /// 新增
        ///</summary>
        public void Add(AddOrUpdate{ClassName}Req obj)
        {
        var loginContext = _auth.GetCurrentUser();
        if (loginContext == null)
        {
        throw new CommonException("登錄已過期", Define.INVALID_TOKEN);
        }
        //程序類型取入口應用的名稱，可以根據自己需要調整
        var addObj = obj.MapTo<{ClassName}>();
            //addObj.CreateDate = DateTime.Now;
            //addObj.CreateUserId = loginContext.User.Id;
            //addObj.CreateUserName = loginContext.User.Name;
            Repository.Add(addObj);
            }
            /// <summary>
                /// 修改
                ///</summary>
            public void Update(AddOrUpdate{ClassName}Req obj)
            {
            var loginContext = _auth.GetCurrentUser();
            if (loginContext == null)
            {
            throw new CommonException("登錄已過期", Define.INVALID_TOKEN);
            }
            UnitWork.Update<{ClassName}>
                (u => u.Id == obj.Id, u => new {ClassName}
                {
                //todo:要修改的欄位賦值
                {Attributes}
                //ModifyDate = DateTime.Now,
                //ModifyUserId = loginContext.User.Id,
                //ModifyUserName = loginContext.User.Name
                });

                }

                public {ModuleCode}(IUnitWork<donkeymoveDBContext>unitWork, IRepository<{ClassName},donkeymoveDBContext> repository, IAuth auth) : base(unitWork, repository, auth)
                        {

                        }
                        }
                        }